BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
LineEnding: LF

AlignTrailingComments: true
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true

SortIncludes: false
ReflowComments: false

AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

ColumnLimit: 0

# Format command (linux): find src -type f \( -name "*.h" -o -name "*.cpp" \) -exec clang-format -i --verbose {} \;
