build
bin
imgui
deps/stb
deps/sha2
deps/jsmn
deps/icons
deps/sqlite
deps/easy-args
deps/doctest
deps/openvino

test_imgs
wallpapers
*.json
.cache
imgui.ini
*.sqlite
.atlas
clip-load
Testing
*.ttf
*.gguf
*.vhs
*.vim

.vs
.xmake