[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/ggml"]
	path = deps/ggml
	url = https://github.com/ggml-org/ggml
[submodule "deps/usearch"]
	path = deps/usearch
	url = https://github.com/unum-cloud/usearch
[submodule "deps/tinyfiledialogs"]
	path = deps/tinyfiledialogs
	url = http://git.code.sf.net/p/tinyfiledialogs/code
[submodule "deps/libfyaml"]
	path = deps/libfyaml
	url = https://github.com/pantoniou/libfyaml
[submodule "deps/curl"]
	path = deps/curl
	url = https://github.com/curl/curl
[submodule "deps/onnxruntime"]
	path = deps/onnxruntime
	url = https://github.com/microsoft/onnxruntime
